---
layout: default
title: Home
page_type: 'left_sidebar'
---

<!-- Header -->
<div id="header">

	<!-- Inner -->
		<div class="inner">
			<header>
				<h1>Publications</h1>
			</header>
		</div>

	{% include navigation.html %}

</div>


<!-- Main -->
<div class="wrapper style1">

	<div class="container">
		<div class="row gtr-200">

			{% include subjects_sidebar.html %}

				<div class="col-8 col-12-mobile imp-mobile" id="content">
					<article id="main">
						<header>
							<h2><a href="#">Economics</a></h2>
						</header>

						<p> <a href = 'https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3216012' target="_blank"> 
							Kerr S, General equilibrium theory, but better </a> </p>
						<p> <a href = 'https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3053853' target="_blank"> 
							Kerr S, Homophily in the job market and no-go results for affirmative action </a> </p>
						<p> <a href = 'https://papers.ssrn.com/sol3/Papers.cfm?abstract_id=2883351' target="_blank"> 
							Kerr S, General equilibrium theory with incomplete information: the wisdom of crowds and efficient markets </a> </p>
						<p> <a href = 'https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2883305' target="_blank"> 
							Kerr S, A note on the method of Lagrange multipliers with random variables </a> </p>
						<p> <a href = 'https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2869449' target="_blank"> 
							Kerr S, The Dating Game </a> </p>
					</article>
				</div>
			</div>
		</div>

	</div>
