---
layout: default
title: Publications
page_type: 'left_sidebar'
---

<!-- Header -->
	<div id="header">

		<!-- Inner -->
			<div class="inner">
				<header>
					<h1>Publications</h1>
				</header>
			</div>

		{% include navigation.html %}

	</div>

<!-- Main -->
	<div class="wrapper style1">

		<div class="container">
			<div class="row gtr-200">
				
				{% include subjects_sidebar.html %}

				<div class="col-8 col-12-mobile imp-mobile" id="content">
					<article id="main">
						<header>
							<h2><a href="#">Epidemiology</a></h2>
						</header>
						
						<p> <a href = 'https://www.research.ed.ac.uk/en/publications/severity-of-omicron-variant-of-concern-and-vaccine-effectiveness-' target="_blank"> 
							Sheikh A, Kerr S, Woolhouse M, McMenamin J, Robertson C, <br> Severity of Omicron variant of concern and vaccine effectiveness 
							against symptomatic disease: national cohort with nested test negative design study in Scotland - preprint </a> </p>
						<p> Kerr S, Joy M, Torabi F, Bedston S, Akbari A, Agrawal U et al, <br> First dose ChAdOx1 and BNT162b2 COVID-19 vaccinations and 
							cerebral venous sinus thrombosis: A pooled self-controlled case series study of 12 million individuals in England, Scotland and Wales. <br> 
							Forthcoming, PLOS medicine. </p>
						<p> <a href = 'https://doi.org/10.1016/S2213-2600(21)00491-4' target="_blank"> 
							Ting S, P Jiafeng, Katikireddi V, McCowan C, Kerr S, Agrawal U et al, <br>
							Risk of COVID-19 hospital admission among children aged 5–17 years with asthma in Scotland: a national incident cohort study. <br>
							The Lancet Respiratory Medicine.
								</a> </p>	
						<p> <a href = 'https://thorax.bmj.com/content/early/2021/11/14/thoraxjnl-2021-217580' target="_blank"> 
							Simpson CR, Kerr S, Shi T, Vasileiou E, Moore E, McCowan C et al, <br>  External validation of the QCovid risk prediction algorithm 
							for risk of COVID-19 hospitalisation and mortality in adults: national validation cohort study in Scotland. <br>
							Thorax. </a> </p>
						<p> <a href = 'https://doi.org/10.1038/s41591-021-01408-4' target="_blank"> 
							Simpson CR, Shi T, Vasileiou E, Katikireddi SV, Kerr S, Moore E et al, <br>  First-dose ChAdOx1 and BNT162b2 COVID-19 vaccines and 
							thrombocytopenic, thromboembolic and hemorrhagic events in Scotland. <br>  Nat Med 27, 1290-1297 (2021) </a> </p>
						<p> <a href = 'https://www.thelancet.com/journals/lanres/article/PIIS2213-2600(21)00383-0/fulltext' target="_blank"> 
							PHOSP-COVID Collaborative Group, <br>  Physical, cognitive and mental health impacts of COVID-19 following hospitalisation -- 
							a multi-centre prospective cohort study. <br> 
							The Lancet Respiratory Medicine. </a> </p>
						<p> <a href = 'https://doi.org/10.1016/S0140-6736(21)00677-2' target="_blank"> 
							Vasileiou E, Simpson CR, Robertson C, Shi T, Kerr S, et al, <br>  Interim findings from first-dose mass COVID-19 
							vaccination roll-out and COVID-19 hospital admissions in Scotland: a national prospective cohort study. <br>  
							The Lancet.</a> </p>
					</article>
				</div>
			</div>
		</div>

	</div>
