---
layout: default
title: Home
page_type: 'left_sidebar'
---

<!-- Header -->
<div id="header">

	<!-- Inner -->
		<div class="inner">
			<header>
				<h1>Publications</h1>
			</header>
		</div>

	{% include navigation.html %}

</div>


<!-- Main -->
<div class="wrapper style1">

	<div class="container">
		<div class="row gtr-200">

			{% include subjects_sidebar.html %}

				<div class="col-8 col-12-mobile imp-mobile" id="content">
					<article id="main">
						<header>
							<h2><a href="#">Philosophy</a></h2>
						</header>

						<p> Kerr S,  
							<a href = 'https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4469869' target="_blank"> 
							The repugnant conclusion can be avoided with moral intuitions intact: A lesson in order. </a></p>
					</article>
				</div>
			</div>
		</div>

	</div>
