---
layout: default
title: Home
page_type: 'left-sidebar'
---

<!-- Header -->
	<div id="header">

		<!-- Inner -->
			<div class="inner">
				<header>
					<h1>Publications</h1>
				</header>
			</div>

		{% include navigation.html %}

	</div>

<!-- Main -->
	<div class="wrapper style1">

		<div class="container">
			<div class="row gtr-200">

				{% include subjects_sidebar.html %}

				<div class="col-8 col-12-mobile imp-mobile" id="content">
					<article id="main">
						<header>
							<h2><a href="#">Physics</a></h2>
						</header>

						<p> <a href = 'https://arxiv.org/abs/1602.04264' target="_blank"> Kerr S, A topological state sum model for a scalar field on the circle </a> </p>
						<p> <a href = 'http://arxiv.org/abs/1504.03960' target="_blank"> Kerr S, Hamiltonian analysis of self-dual gauge gravity </a> </p>
						<p> <a href = 'http://arxiv.org/abs/1408.1994' target="_blank"> Kerr S, Gauge theory of gravity and matter </a> </p>
						<p> <a href = 'http://arxiv.org/abs/1309.1660' target="_blank"> Kerr S, Barrett J W, Gauge gravity and discrete quantum models </a> </p>
						<p> <a href = 'http://arxiv.org/abs/1211.4557' target="_blank"> Barrett J W, Kerr S, Louko J, <br> A topological state sum model 
							for fermions on the circle, <br> J. Phys. A: Math. Theor. 46 185201  </a> </p>									
					</article>
				</div>
			</div>
		</div>

	</div>