---
layout: default
title: Home
page_type: 'left-sidebar'
---

<!-- Header -->
	<div id="header">

		<!-- Inner -->
			<div class="inner">
				<header>
					<h1>Publications</h1>
				</header>
			</div>

		{% include navigation.html %}

	</div>

<!-- Main -->
	<div class="wrapper style1">

		<div class="container">
			<div class="row gtr-200">

				{% include subjects_sidebar.html %}

				<div class="col-8 col-12-mobile imp-mobile" id="content">
					<article id="main">
						<header>
							<h2><a href="#">Physics</a></h2>
						</header>

						<p> Kerr S, <a href = 'https://arxiv.org/abs/1602.04264' target="_blank">A topological state sum model for a scalar field on the circle</a>. </p>
						<p> Kerr S, <a href = 'http://arxiv.org/abs/1504.03960' target="_blank">Hamiltonian analysis of self-dual gauge gravity</a>. </p>
						<p> Kerr S, <a href = 'http://arxiv.org/abs/1408.1994' target="_blank"> Gauge theory of gravity and matter</a>. </p>
						<p> Kerr S, Barrett J W, <a href = 'http://arxiv.org/abs/1309.1660' target="_blank">  Gauge gravity and discrete quantum models</a>. </p>
						<p> Barrett J W, Kerr S, Louko J, <a href = 'http://arxiv.org/abs/1211.4557' target="_blank">  <br>A topological state sum model 
							for fermions on the circle</a>. 
							<br> J. Phys. A: Math. Theor. 46 185201</p>									
					</article>
				</div>
			</div>
		</div>

	</div>