<!-- Footer -->
<div id="footer">
    <div class="container">
            <div class="col-12">

                <!-- Contact -->
                    <section class="contact">
                        <header>
                            <h3>Social media:</h3>
                        </header>
                        <ul class="icons">
                            <li><a href="https://twitter.com/stevenrosskerr" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="https://www.linkedin.com/in/steven-kerr-014b19133/" class="icon brands fa-linkedin-in"><span class="label">Linkedin</span></a></li>
                            <li><a href="https://github.com/StevenRKerr" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                        </ul>
                    </section>

            </div>

        </div>
    </div>
</div>