<div class="col-2 col-12-mobile" id="sidebar">
    <hr class="first" />
    <section>
        <header>
            <a href="epi.html">Epidemiology</a>
        </header>
    </section>
    <section>
        <header>
            <a href="economics.html">Economics</a>
        </header>
    </section>
    <section>
        <header>
            <a href="physics.html">Physics</a>
        </header>
    </section>
    <section>
        <header>
            <a href="philosophy.html">Philosophy</a>
        </header>
    </section>
</div>